

{% load static %}

  
<!-- ========================= FOOTER ========================= -->

<footer class="section-footer border-top">
	<div class="container">
		<section class="footer-bottom border-top row">
			<div class="col-md-12 mx-auto">
				<p class="text-muted text-center" style="margin-bottom:0px;"> Developed with <i class="fa fa-heart" aria-hidden="true" style="color:#ff0000;"></i> by <a href="https://www.linkedin.com/in/akhil-s5/" target="_blank" class="">Akhil S</a></p>
				<p class="text-muted text-center"><span  class="px-2 text-center"><a href="mailto:akhilsoman203@gmail.com">akhils@gmail.com</a></span>
				<span  class="px-2 text-center"><i class="fa fa-map-marker" aria-hidden="true"></i> Kerala, India</span></p>
			</div>
			<!-- <div class="col-md-8 text-md-center">

			</div> -->
		</section>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->


